api:
  dashboard: true
  debug: true

log:
  level: DEBUG

ping: {}

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https

  websecure:
    address: ":443"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: proxy
  file:
    directory: /etc/traefik/config
    watch: true

certificatesResolvers:
  letsencrypt:
    acme:
      email: teddie.eddie.gg@gmail.com
      storage: /etc/traefik/acme.json
      httpChallenge:
        entryPoint: web
